.App {
  /* height: 100vh; */
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.rightPane{
  /* overflow-y: auto; */
  width: 100%;

}

.leftPane{
  /* overflow-y: hidden; */
  height: 100%;
  border-right: 2px solid brown;

}